{% extends "admin/base_site.html" %}
{% load i18n jazzmin admin_filters %}
{% get_jazzmin_settings request as jazzmin_settings %}

{% block content %}
<div class="row">
    <!-- Ensayos e Informe Section -->
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-flask"></i> Ensayos e Informe
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    {% if perms.project.view_ensayoaguavapor or perms.project.view_ensayodelcombustible or perms.project.view_informe %}
                    {% if perms.project.view_ensayoaguavapor %}
                    <div class="col-md-12">
                        <div class="info-box">
                            <span class="info-box-icon">
                                <i class="fas fa-tint"></i>
                            </span>
                            <div class="info-box-content">
                                <a href="/admin/project/ensayoaguavapor/" class="info-box-text">Ensayo Agua Vapor</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if perms.project.view_ensayodelcombustible %}
                    <div class="col-md-12">
                        <div class="info-box">
                            <span class="info-box-icon">
                                <i class="fas fa-fire"></i>
                            </span>
                            <div class="info-box-content">
                                <a href="/admin/project/ensayodelcombustible/" class="info-box-text">Ensayo Del Combustible</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if perms.project.view_informe %}
                    <div class="col-md-12">
                        <div class="info-box">
                            <span class="info-box-icon">
                                <i class="fas fa-file-alt"></i>
                            </span>
                            <div class="info-box-content">
                                <a href="/admin/project/informe/" class="info-box-text">Informe</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% else %}
                    <div class="col-md-12">
                        <p class="text-muted text-center">No tienes acceso a esta sección.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Trabajo con reactivos Section -->
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-vial"></i> Trabajo con reactivos
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    {% if perms.project.view_reactivo or perms.project.view_entradadereactivo or perms.project.view_reactivo_consumido %}
                    {% if perms.project.view_reactivo %}
                    <div class="col-md-12">
                        <div class="info-box">
                            <span class="info-box-icon">
                                <i class="fas fa-flask"></i>
                            </span>
                            <div class="info-box-content">
                                <a href="/admin/project/reactivo/" class="info-box-text">Reactivo</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if perms.project.view_entradadereactivo %}
                    <div class="col-md-12">
                        <div class="info-box">
                            <span class="info-box-icon">
                                <i class="fas fa-plus-circle"></i>
                            </span>
                            <div class="info-box-content">
                                <a href="/admin/project/entradadereactivo/" class="info-box-text">Entrada De Reactivo</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if perms.project.view_reactivo_consumido %}
                    <div class="col-md-12">
                        <div class="info-box">
                            <span class="info-box-icon">
                                <i class="fas fa-minus-circle"></i>
                            </span>
                            <div class="info-box-content">
                                <a href="/admin/project/reactivo_consumido/" class="info-box-text">Reactivo Consumido</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% else %}
                    <div class="col-md-12">
                        <p class="text-muted text-center">No tienes acceso a esta sección.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Soluciones Section -->
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-flask"></i> Soluciones
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    
                    {% if perms.project.view_prepararsoluciones %}
                    <div class="col-md-12">
                        <div class="info-box">
                            <span class="info-box-icon">
                                <i class="fas fa-mortar-pestle"></i>
                            </span>
                            <div class="info-box-content">
                                <a href="/admin/project/prepararsoluciones/" class="info-box-text">Preparar Soluciones</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if perms.project.view_soluciones_preparadas_producidas %}
                    <div class="col-md-12">
                        <div class="info-box">
                            <span class="info-box-icon">
                                <i class="fas fa-fill-drip"></i>
                            </span>
                            <div class="info-box-content">
                                <a href="/admin/project/soluciones_preparadas_producidas/" class="info-box-text">Soluciones Preparadas Producidas</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if perms.project.view_solucionespreparadas %}
                    <div class="col-md-12">
                        <div class="info-box">
                            <span class="info-box-icon">
                                <i class="fas fa-flask"></i>
                            </span>
                            <div class="info-box-content">
                                <a href="/admin/project/solucionespreparadas/" class="info-box-text">Soluciones Preparadas</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-md-12">
                        <div class="info-box">
                            <span class="info-box-icon">
                                <i class="fas fa-eye-dropper"></i>
                            </span>
                            <div class="info-box-content">
                                <a href="{% url 'soluciones' %}" class="info-box-text">Soluciones</a>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Other Models -->
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-cogs"></i> Otros
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    {% if perms.project.view_equipamientodellaboratorio %}
                    <div class="col-md-12">
                        <div class="info-box">
                            <span class="info-box-icon">
                                <i class="fas fa-warehouse"></i>
                            </span>
                            <div class="info-box-content">
                                <a href="/admin/project/equipamientodellaboratorio/" class="info-box-text">Equipamiento Del Laboratorio</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if perms.project.view_trabajador %}
                    <div class="col-md-12">
                        <div class="info-box">
                            <span class="info-box-icon">
                                <i class="fas fa-user"></i>
                            </span>
                            <div class="info-box-content">
                                <a href="/admin/project/trabajador/" class="info-box-text">Trabajador</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    <div class="col-md-12">
                        <div class="info-box">
                            <span class="info-box-icon">
                                <i class="fas fa-thermometer-half"></i>
                            </span>
                            <div class="info-box-content">
                                <a href="{% url 'capilares' %}" class="info-box-text">Capilares</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}